---
import Layout from '../../layouts/Layout.astro'
import type { Populated } from '@/utils/typeChecks'
import type { Service } from '@/payload-types'
import { getPayload } from '@/payload'
import Image from '@/components/Image'
import { convertLexicalToHTML } from '@payloadcms/richtext-lexical/html'

export async function getStaticPaths() {
  const payload = await getPayload()
  const services = (
    await payload.find({
      collection: 'services',
      limit: 100,
    })
  ).docs as Populated<Service>[]

  return services.map((service) => ({
    params: { slug: service.slug },
    props: { service, services },
  }))
}

type Props = {
  service: Populated<Service>
  services: Populated<Service>[]
}

const { service, services } = Astro.props

const indexOfCurrentService = services.findIndex((s) => s.slug === service.slug)
const nextService = services[indexOfCurrentService + 1] || services[0]

const { image, page_title, title } = service
---

<Layout
  title={page_title || title}
  description={service.summary}
  image={service.image.url}
>
  <main
    class="mx-auto flex max-w-[calc(100vw-40px)] flex-col gap-10 pt-4 pb-12 md:max-w-[1200px] md:flex-row lg:p-10"
  >
    <div
      class="relative flex h-max w-full grow flex-col gap-4 md:sticky md:top-20 md:w-auto md:min-w-72 md:shrink"
    >
      {
        image && (
          <Image
            media={image}
            width={400}
            height={400}
            alt=""
            className="spring-duration-150 aspect-video w-full max-w-[400px] rounded-xl object-cover ring-1 shadow-xl ring-white/10 md:aspect-square"
          />
        )
      }

      <h1
        transition:name={`service-title-${service.slug}`}
        class="absolute bottom-0 m-2 rounded-lg bg-gray-950/60 p-4 text-xl font-semibold ring-1 ring-gray-700/30 backdrop-blur-lg backdrop-brightness-200 md:p-6"
      >
        {page_title || title}
      </h1>
    </div>

    <div class="flex w-full flex-col gap-4">
      <article
        class="content w-full overflow-x-scroll pb-20"
        style="container-type: inline-size;"
        transition:name={`service-description-${service.slug}`}
        set:html={convertLexicalToHTML({ data: service.body })}
      />
      {
        nextService && (
          <a
            href={`/services/${nextService.slug}`}
            class="group ml-auto flex items-center gap-6"
          >
            <div class="flex flex-col items-end justify-start gap-1 rounded-lg px-5 py-3 duration-300 group-hover:bg-gray-800">
              <span class="text-xs tracking-widest uppercase">Next</span>
              <span transition:name={`service-title-${nextService.slug}`}>
                {nextService.title}
              </span>
            </div>

            <Image
              media={nextService.image}
              width={100}
              height={100}
              alt=""
              className="spring-duration-300 spring-bounce-40 aspect-video h-20 w-20 rounded-xl object-cover ring-1 shadow-xl ring-white/10 group-hover:scale-105"
            />
          </a>
        )
      }
    </div>
  </main>
</Layout>
