---
import Image, { getImageUrl } from '@/components/Image.tsx'
import Layout from '@/layouts/Layout.astro'
import type { FeaturesPage, Video } from '@/payload-types'
import type { Populated } from '@/utils/typeChecks'
import PageTitle from '../../components/PageTitle.astro'
import SmallVideoCard from '../../components/SmallVideoCard.astro'
import { getPayload } from '@/payload'
import { convertLexicalToHTML } from '@payloadcms/richtext-lexical/html'
import { Schema } from 'astro-seo-schema'
import { convertLexicalToPlaintext } from '@payloadcms/richtext-lexical/plaintext'
import type { BreadcrumbList } from 'schema-dts'
import { MuxPlayer } from '@mux/mux-player-astro'
import { PhArrowLeft } from 'phosphor-icons-astro'

export async function getStaticPaths() {
  const payload = await getPayload()
  const videos = (
    await payload.find({
      collection: 'videos',
      limit: 100,
      where: { slug: { exists: true } },
    })
  ).docs as Populated<Video>[]

  const featuredPage = (await payload.findGlobal({
    slug: 'features-page',
  })) as Populated<FeaturesPage>

  return videos.map((video) => ({
    params: { slug: video.slug },
    props: { video, allVideos: videos, featuredPage },
  }))
}

const video = Astro.props.video
const {
  slug,
  id,
  type,
  videoURL,
  metadata,
  body,
  awards,
  image,
  title,
  createdAt,
} = video

const category = type

const allVideos = Astro.props.allVideos
const featuredPage = Astro.props.featuredPage

const indexOfCurrentVideo = allVideos.findIndex(
  (video) => video.title === title,
)
const nextVideos = allVideos.slice(
  indexOfCurrentVideo + 1,
  indexOfCurrentVideo + 4,
)

if (nextVideos.length < 3) {
  const remainingVideos = allVideos.slice(0, 3 - nextVideos.length)
  nextVideos.push(...remainingVideos)
}

const breadcrumbList: BreadcrumbList[] = [
  {
    '@type': 'BreadcrumbList',
    itemListElement: [
      {
        '@type': 'ListItem',
        position: 1,
        name: 'Portfolio',
        item: 'https://veklabs.com/portfolio',
      },
      {
        '@type': 'ListItem',
        position: 2,
        name: title,
        item: `https://veklabs.com/videos/${slug}`,
      },
    ],
  },
]

if (featuredPage.videos.find((v) => v.id === id)) {
  breadcrumbList.push({
    '@type': 'BreadcrumbList',
    itemListElement: [
      {
        '@type': 'ListItem',
        position: 1,
        name: 'Features',
        item: 'https://veklabs.com/features',
      },
      {
        '@type': 'ListItem',
        position: 2,
        name: title,
        item: `https://veklabs.com/videos/${slug}`,
      },
    ],
  })
}

const aspectRatio =
  video.videoWidth && video.videoHeight
    ? video.videoWidth / video.videoHeight
    : 16 / 9
---

<Layout
  video={videoURL}
  image={`/open-graph/videos/${slug}`}
  title={title}
  meta={video.meta}
>
  <Schema
    item={{
      '@context': 'https://schema.org',
      '@type': 'VideoObject',
      description: body ? convertLexicalToPlaintext({ data: body }) : undefined,
      name: title,
      thumbnailUrl: image.url,
      uploadDate: createdAt,
      author: 'Vek Labs',
      embedUrl: videoURL,
      type: 'VideoObject',
      contentUrl: `https://veklabs.com/videos/${video.slug}`,
      publisher: { '@type': 'Organization', name: 'Vek Labs' },
    }}
  />
  <Schema
    item={{
      '@context': 'https://schema.org',
      '@type': 'BreadcrumbList',
      itemListElement: breadcrumbList.flatMap((list) => list.itemListElement),
    }}
  />
  <div
    class="fixed inset-0 z-50 h-full overflow-y-scroll bg-black pt-12 opacity-100 backdrop-blur-3xl backdrop-brightness-200 backdrop-saturate-200 md:pt-0 starting:opacity-0 starting:backdrop-blur-none"
  >
    <div class="w-container mx-auto grid grid-cols-[1fr_auto_1fr]">
      <div>
        <a
          class="text-foreground hover:text-foreground fixed top-4 left-4 z-20 flex w-max translate-x-0 items-center gap-1 rounded-full bg-black/50 px-4 py-2 text-sm opacity-100 backdrop-blur-md transition-all delay-300 duration-300 hover:bg-black hover:ring-1 hover:ring-white/20 starting:translate-x-2 starting:opacity-0"
          href="javascript:history.back()"
        >
          <PhArrowLeft size={16} />
          Back
        </a>
      </div>
      <div class="w-container relative mx-auto max-w-7xl py-4 md:p-10">
        <MuxPlayer
          autoplay
          accentColor="white"
          class="absolute overflow-hidden rounded-xl object-cover shadow-lg ring-2 shadow-neutral-950 ring-white/5 [--media-object-fit:cover] ring-inset md:w-[calc(100%-5rem)]"
          src={video.videom3u8 || video.videoURL}
          style={{ aspectRatio }}
          poster={getImageUrl({
            alt: '',
            media: image,
            height: 500 / (16 / 9),
            width: 500,
          })}
          preload="auto"
          playsInline
          theme="minimal"
        />

        <div class="mb-20 aspect-video w-full"></div>
        <div
          class="flex w-full flex-col flex-wrap justify-between gap-8 md:flex-row md:items-center"
        >
          <PageTitle
            class="pointer-events-none z-50 order-2 flex h-5 items-center text-2xl font-semibold shadow-neutral-950 md:order-1"
            transition:name={`video-title-${slug}`}
          >
            {title}
          </PageTitle>
        </div>
        <div
          class="spring-duration-500 spring-bounce-20 flex translate-y-0 flex-col gap-6 pt-14 starting:translate-y-56"
        >
          <div class="flex flex-col justify-between gap-5 md:flex-row">
            <div class="flex max-w-prose flex-col gap-3">
              {
                body && (
                  <>
                    <span class="text-xs font-bold tracking-widest uppercase">
                      Description
                    </span>
                    <p />
                    <div set:html={convertLexicalToHTML({ data: body })} />
                  </>
                )
              }

              {
                nextVideos && (
                  <div class="flex flex-col gap-2">
                    <span class="text-xs font-bold tracking-widest uppercase">
                      Up Next
                    </span>
                    <div class="no-scrollbar flex flex-nowrap gap-2 overflow-x-auto">
                      {nextVideos.map((video) => (
                        <SmallVideoCard {...video} />
                      ))}
                    </div>
                  </div>
                )
              }
            </div>

            <div class="flex flex-col flex-wrap gap-4">
              {
                category?.title || metadata ? (
                  <div class="mb-auto flex min-h-36 w-full flex-col gap-3 rounded-xl bg-neutral-200/10 p-6 ring-1 ring-white/15 md:w-72">
                    {category?.title && (
                      <div class="flex flex-col gap-3">
                        <span class="text-xs font-bold tracking-widest uppercase">
                          Category
                        </span>
                        <span>{category?.title}</span>
                      </div>
                    )}

                    {metadata &&
                      metadata.map(({ label, value }) => (
                        <div class="flex flex-col">
                          <span class="text-xxs text-accent-300 tracking-widest uppercase">
                            {label}
                          </span>
                          <span set:html={value} />
                        </div>
                      ))}

                    {(awards?.length ?? 0) > 0 && (
                      <div class="flex flex-wrap">
                        {awards!.map((awardImage) => (
                          <Image
                            media={awardImage}
                            alt=""
                            className="spring-duration-200 spring-bounce-20 w-20 rounded-2xl hover:z-10 hover:scale-200 hover:bg-black"
                          />
                        ))}
                      </div>
                    )}
                  </div>
                ) : null
              }
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</Layout>
