---
import Image from '@/components/Image'
import { getPayload } from '@/payload'
import type { Report } from '@/payload-types'
import { cn } from '@/utils/cn'
import type { Populated } from '@/utils/typeChecks'
import CategoryBadge from '../../components/CategoryBadge.astro'
import FormattedDate from '../../components/FormattedDate.astro'
import { convertLexicalToHTML } from '@payloadcms/richtext-lexical/html'
import Layout from '../../layouts/Layout.astro'
import { Schema } from 'astro-seo-schema'
import { type BreadcrumbList, type Article } from 'schema-dts'

export async function getStaticPaths() {
  const payload = await getPayload()
  const reports =
    ((
      await payload.find({
        collection: 'reports',
        where: { slug: { exists: true } },
        limit: 100,
      })
    ).docs as Populated<Report>[]) ?? []

  return reports.map((report) => ({
    params: { slug: report.slug },
    props: { report, allReports: reports },
  }))
}

const post = Astro.props.report
const allPosts = Astro.props.allReports

const { body, title, createdAt: date, category, image, slug, author } = post

const indexOfCurrentPost = allPosts.findIndex((p) => p.slug === post.slug)
const nextPost = allPosts[indexOfCurrentPost + 1] || allPosts[0]
---

<Layout title={title}>
  <Fragment slot="head">
    <Schema
      item={{
        '@type': 'Article',
        '@context': 'https://schema.org',

        headline: post.title,
        datePublished: post.createdAt,
        dateModified: post.updatedAt,
        url: `https://veklabs.com/reports/${post.slug}`,
        author: [
          {
            '@type': 'Person',
            name: post.author?.name,
            image: post.author?.image ? post.author.image.url : undefined,
          },
          {
            '@type': 'Organization',
            name: 'Vek Labs',
            url: 'https://veklabs.com',
          },
        ],
        image: post.image ? post.image.url : undefined,
        description: post.meta?.description,
        isAccessibleForFree: true,
      }}
    />
    <Schema
      item={{
        '@type': 'BreadcrumbList',
        '@context': 'https://schema.org',

        itemListElement: [
          {
            '@type': 'ListItem',
            position: 2,
            name: 'Reports',
            item: 'https://veklabs.com/reports',
          },
          {
            '@type': 'ListItem',
            position: 3,
            name: post.title,
            item: `https://veklabs.com/reports/${post.slug}`,
          },
        ],
      }}
    />
  </Fragment>

  <style is:global>
    #post .content {
      p {
        line-height: 24px;
      }

      p::before {
        content: '';
        display: table;
        width: 160px;
      }

      a,
      a:hover {
        text-decoration: underline;
      }

      iframe {
        padding-block: 16px;
      }
    }
  </style>

  <div
    id="post"
    class="mx-auto w-[calc(100%-24px)] overflow-hidden pt-6 pb-20 lg:max-w-[980px]"
  >
    <article class="flex flex-col gap-8">
      {
        image && (
          <div
            class:list={[
              'hero-image relative z-10 w-full overflow-hidden rounded-xl shadow-xl',
              { '': !image },
            ]}
          >
            <a
              class="text-foreground hover:text-foreground absolute top-4 left-4 z-20 flex translate-x-0 items-center gap-1 rounded-full bg-black/50 px-4 py-2 text-sm opacity-100 backdrop-blur-md transition-all delay-300 duration-300 hover:bg-black hover:ring-1 hover:ring-white/20 starting:translate-x-2 starting:opacity-0"
              href="javascript:history.back()"
            >
              <svg viewBox="0 0 24 24" class="w-[0.65rem] fill-current">
                <use href="/assets/arrow-left.svg#icon" />
              </svg>
              All Posts
            </a>
            <Image
              transition:name={`image-${title}`}
              media={image}
              alt=""
              className={cn([
                'aspect-video w-full rounded-lg border border-gray-800 object-cover shadow-lg transition-all duration-200 group-hover:scale-[1.0125] group-hover:shadow-2xl',
              ])}
            />

            {category && (
              <CategoryBadge class="right-8 left-[unset]" {...category} />
            )}

            <span
              transition:name={`date-${slug}`}
              class="absolute right-4 bottom-8 z-20 font-mono text-xl font-bold text-orange-400 mix-blend-screen"
            >
              <FormattedDate date={new Date(date)} />
            </span>
          </div>
        )
      }

      <section class="flex max-w-[80ch] flex-col gap-5 md:px-12">
        <h1
          transition:name={`title-${slug}`}
          class="m-0 text-3xl font-semibold md:text-5xl"
        >
          {title}
        </h1>

        <div
          class="animate-fade-up content"
          set:html={convertLexicalToHTML({ data: body })}
        />

        {
          author && (
            <div class="">
              <span>{author.name}</span>
            </div>
          )
        }
        <!-- {{ if isset .Params "author" }}
         {{ partial "blog/author.html" . }}
         {{ end }} -->
      </section>
    </article>

    {
      nextPost && (
        <div class="flex flex-col gap-4 pt-20">
          <a
            href={`/reports/${nextPost.slug}`}
            data-astro-history="replace"
            class="group ml-auto flex items-center gap-6"
          >
            <div class="flex flex-col items-end justify-start gap-1 rounded-lg px-5 py-3 duration-300 group-hover:bg-gray-800">
              <span class="text-xs tracking-widest uppercase">Next</span>
              <span transition:name={`title-${nextPost.slug}`}>
                {nextPost.title}
              </span>
            </div>

            <Image
              transition:name={`image-${nextPost.title}`}
              media={nextPost.image}
              width={100}
              height={100}
              alt=""
              className="spring-duration-300 spring-bounce-40 aspect-video h-20 w-20 rounded-xl object-cover ring-1 shadow-xl ring-white/10 group-hover:scale-105"
            />
          </a>
        </div>
      )
    }
  </div>
</Layout>
