---
import Image from '@/components/Image'
import { getPayload } from '@/payload'
import type { Report } from '@/payload-types'
import { cn } from '@/utils/cn'
import type { Populated } from '@/utils/typeChecks'
import { convertLexicalToHTML } from '@payloadcms/richtext-lexical/html'
import { Schema } from 'astro-seo-schema'
import FormattedDate from '../../components/FormattedDate.astro'
import Layout from '../../layouts/Layout.astro'
import AuthorHover from '@/components/AuthorHover.astro'

export async function getStaticPaths() {
  const payload = await getPayload()
  const reports =
    ((
      await payload.find({
        collection: 'reports',
        where: { slug: { exists: true } },
        limit: 100,
      })
    ).docs as Populated<Report>[]) ?? []

  return reports.map((report) => ({
    params: { slug: report.slug },
    props: { report },
  }))
}

const post = Astro.props.report

const { body, title, createdAt: date, category, image, slug, author } = post
---

<Layout title={title} meta={post.meta}>
  <Schema
    item={{
      '@type': 'Article',
      '@context': 'https://schema.org',

      headline: post.title,
      datePublished: post.createdAt,
      dateModified: post.updatedAt,
      url: `https://veklabs.com/reports/${post.slug}`,
      author: [
        {
          '@type': 'Person',
          name: post.author?.name,
          image: post.author?.image ? post.author.image.url : undefined,
        },
        {
          '@type': 'Organization',
          name: 'Vek Labs',
          url: 'https://veklabs.com',
        },
      ],
      image: post.image ? post.image.url : undefined,
      description: post.meta?.description,
      isAccessibleForFree: true,
    }}
  />
  <Schema
    item={{
      '@type': 'BreadcrumbList',
      '@context': 'https://schema.org',

      itemListElement: [
        {
          '@type': 'ListItem',
          position: 2,
          name: 'Reports',
          item: 'https://veklabs.com/reports',
        },
        {
          '@type': 'ListItem',
          position: 3,
          name: post.title,
          item: `https://veklabs.com/reports/${post.slug}`,
        },
      ],
    }}
  />

  <div id="post" class="mx-auto w-[calc(100%-24px)] pt-10 pb-20 lg:max-w-245">
    <article class="flex flex-col gap-10 pt-12">
      <div class="mx-auto flex gap-2 text-sm text-gray-400">
        <a href="/reports" class="hover:text-white"> Reports </a>
        <span>/</span>
        <span>{category.title}</span>
      </div>

      <h1
        class="m-0 text-center text-2xl font-semibold md:text-4xl"
        transition:name={`report-${slug}-title`}
      >
        {title}
      </h1>

      <div></div>

      {
        image && (
          <div
            class={cn([
              'hero-image relative z-10 w-full overflow-hidden rounded-xl shadow-xl',
            ])}
            transition:name={`image-${slug}`}
          >
            <Image
              media={image}
              className="aspect-5/2 w-full rounded-xl border border-white/10 object-cover"
            />
          </div>
        )
      }

      <div class="mx-auto flex gap-2 text-sm text-gray-400">
        <AuthorHover author={author} id={author.slug} />
        <span>•</span>
        <FormattedDate date={new Date(date)} />
      </div>

      <section class="mx-auto flex max-w-[80ch] flex-col gap-5 md:px-12">
        <div
          class="content mx-auto max-w-156"
          set:html={convertLexicalToHTML({ data: body })}
        />

        <hr class="my-8 border-gray-700" />

        <div class="flex gap-2 text-sm text-gray-400">
          <AuthorHover author={author} id={author.slug + 'bottom'} />
          <span>•</span>
          <FormattedDate date={new Date(date)} />
        </div>
      </section>
    </article>
  </div>
</Layout>
