---
import FormattedDate from '@/components/FormattedDate.astro'
import Image from '@/components/Image'
import { getPayload } from '@/payload'
import type { Report } from '@/payload-types'
import { cn } from '@/utils/cn'
import type { Populated } from '@/utils/typeChecks'
import { capitalize } from 'lodash-es'
import PageTitle from '../../components/PageTitle.astro'
import Layout from '../../layouts/Layout.astro'

const payload = await getPayload()
const reports = await payload
  .find({
    collection: 'reports',
    where: { slug: { exists: true } },
    limit: 100,
    sort: '-createdAt',
  })
  .then((res) => res.docs as Populated<Report>[])

// const categories = uniqBy(
//   reports.map((report) => report.category),
//   'slug',
// )
---

<Layout>
  <section id="blog" class="p-6 lg:p-4">
    <div
      class="mx-auto min-h-[calc(100vh-135px)] max-w-245 pt-4 pb-12 lg:py-20"
    >
      <PageTitle>Reports</PageTitle>

      <!-- <div class="flex gap-4">
        <a
              href={`/reports`}
              class="whitespace-nowrap"
            >
        {
          categories.map((category) => (
            <a
              href={`/reports/category/${category.slug}`}
              class="whitespace-nowrap"
            >
              {capitalize(category.title)}
            </a>
          ))
        }
      </div> -->

      <div class="mt-12 grid grid-cols-1 gap-6 gap-y-10 md:grid-cols-12">
        {
          reports.map((report, i) => (
            <a
              href={`/reports/${report.slug}`}
              class:list={[
                'listing group col-span-full w-full rounded-xl transition-all',
                `${i > 3 ? 'md:col-span-4' : 'md:col-span-6'}`,
              ]}
            >
              <article class:list={['flex w-full flex-col']}>
                <div
                  class="image relative"
                  transition:name={`image-${report.slug}`}
                >
                  {report.image && (
                    <Image
                      media={report.image}
                      alt=""
                      className={cn([
                        'z-10 w-full rounded-lg border border-gray-800 object-cover shadow-lg grayscale transition-all duration-200 group-hover:scale-[1.0125] group-hover:shadow-2xl',
                        `${i > 3 ? 'md:h-52' : 'md:h-72'}`,
                      ])}
                    />
                  )}
                </div>
                <div class="text-foreground flex flex-col gap-2 rounded-l-lg rounded-b-lg pt-4 transition-all group-hover:bg-black/20 lg:mb-2 lg:pt-6">
                  <div class="flex gap-2 text-xs text-gray-400">
                    <span>{capitalize(report.author.name)}</span>
                    <span>•</span>
                    <FormattedDate date={new Date(report.createdAt)} />
                  </div>
                  <h1
                    class={`title m-0 font-semibold ${i > 3 ? 'text-md' : 'text-xl'}`}
                    transition:name={`title-${report.slug}`}
                  >
                    {report.title}
                  </h1>
                </div>
              </article>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
