---
import Image from "@/components/Image";
import { getPayload } from "@/payload";
import type { ClientLogo, Testimonial } from "@/payload-types";
import type { Populated } from "@/utils/typeChecks";
import { PhCaretRight } from "phosphor-icons-astro";
import PageTitle from "../components/PageTitle.astro";
import TestimonialCard from "../components/TestimonialCard.astro";
import Layout from "../layouts/Layout.astro";

const payload = await getPayload();

const config = (await payload.findGlobal({
  slug: "clients-page",
})) as any;

const testimonials =
  ((
    await payload.find({
      collection: "testimonials",
      limit: 100,
    })
  ).docs as Populated<Testimonial>[]) ?? [];

const clientLogos =
  ((
    await payload.find({
      collection: "client-logos",

      limit: 200,
    })
  ).docs as Populated<ClientLogo>[]) ?? [];
---

<script>
  // MARK: For sizing cards to be a reasonable size
  const isOverflowing = (element: HTMLElement) => {
    return element.scrollHeight > element.clientHeight;
  };
  const observer = new ResizeObserver((entries) => {
    for (const entry of entries) {
      const target = entry.target as HTMLElement;
      if (isOverflowing(target)) {
        target.classList.add("overflowing");
      } else {
        target.classList.remove("overflowing");
      }
    }
  });

  document
    .querySelectorAll<HTMLDivElement>(`.testimonial-card`)
    .forEach((card) => {
      observer.observe(card);
    });
</script>

<Layout title={config.title} meta={config.meta}>
  <section class="py-14 pt-28">
    <div
      class="w-container mx-auto flex max-w-7xl flex-col justify-center gap-6 px-4 pb-24"
    >
      <PageTitle>{config.title}</PageTitle>
      <h2 class="max-w-xl text-3xl font-medium text-pretty">
        {config.subtitle}
      </h2>
      <div class="flex items-center gap-4">
        <a class="mt-1 flex items-center gap-1.5 text-lg" href="/contact">
          {config.contact_link}
          <PhCaretRight class="size-5" />
        </a>

        <a
          class="mt-1 flex items-center gap-1.5 text-lg"
          href={config.google_reviews_link}
        >
          Google Reviews
          <PhCaretRight class="size-5" />
        </a>
      </div>
    </div>

    <div
      style={`--card-count: ${testimonials.length}`}
      class="grid w-full gap-6 overflow-x-auto px-8 py-1 min-[1872px]:justify-center md:grid-cols-[repeat(var(--card-count),450px)]"
    >
      {testimonials.map((testimonial) => <TestimonialCard {...testimonial} />)}
    </div>

    <div
      class="w-container mx-auto flex max-w-7xl flex-col items-center gap-6 py-4 pt-36 lg:flex-row"
    >
      <span class="text-center text-3xl lg:text-left">
        {config.cta_text}
      </span>
      <a
        class="mt-1 flex items-center gap-1.5 text-lg whitespace-nowrap lg:ml-auto"
        href="/contact"
      >
        {config.cta_link}
        <PhCaretRight class="size-5" />
      </a>
    </div>

    <div
      class="group w-container flex-wrap-balance mx-auto flex max-w-400 justify-between gap-6 pt-12 md:gap-24"
    >
      {
        clientLogos.map((logo) => (
          <Image
            width={200}
            className="h-[clamp(100px,12vw,175px)]"
            media={logo}
            alt=""
          />
        ))
      }
    </div>
  </section>
</Layout>
