---
import { getCollection } from "astro:content"
import { ChevronRight } from "lucide-astro"
import config from "../content/clients.json"
import TestimonialCard from "../components/TestimonialCard.astro"
import DefaultLayout from "../layouts/DefaultLayout.astro"

const logos = Object.values(
  import.meta.glob("/src/images/logos/*", { eager: true }),
).map((file) => (file as { default: { src: string } }).default)

const testimonials = await getCollection("testimonials")
---

<DefaultLayout title={config.title}>
  <section class="w-container mx-auto max-w-7xl py-14 pt-28">
    <div class="flex flex-col justify-center gap-6 px-4 pb-24">
      <h2 class="max-w-xl text-3xl font-medium text-pretty">
        {config.subtitle}
      </h2>
      <div class="flex items-center gap-4">
        <a class="mt-1 flex items-center gap-1.5 text-lg" href="/contact">
          {config.contact_link}
          <ChevronRight class="size-5" />
        </a>

        <a
          class="mt-1 flex items-center gap-1.5 text-lg"
          href={config.google_reviews_link}
        >
          Google Reviews
          <ChevronRight class="size-5" />
        </a>
      </div>
    </div>

    <div class="grid gap-6">
      {testimonials.map((testimonial) => <TestimonialCard {...testimonial} />)}
    </div>

    <div class="group flex flex-wrap justify-center gap-6 pt-36">
      {
        logos.map((logo) => (
          <img
            class="h-12 rounded duration-500 group-[:has(img:hover)]:opacity-50 hover:opacity-100! md:h-28"
            src={logo.src}
            alt=""
          />
        ))
      }
    </div>

    <div class="flex items-center gap-6 py-4 pt-36">
      <span class="text-3xl">
        {config.cta_text}
      </span>
      <a
        class="mt-1 ml-auto flex items-center gap-1.5 text-lg whitespace-nowrap"
        href="/contact"
      >
        {config.cta_link}
        <ChevronRight class="size-5" />
      </a>
    </div>
  </section>
</DefaultLayout>
