---
import Image from '@/components/Image'
import { getPayload } from '@/payload'
import type { ClientLogo, Testimonial } from '@/payload-types'
import type { Populated } from '@/utils/typeChecks'
import { PhCaretRight } from 'phosphor-icons-astro'
import PageTitle from '../components/PageTitle.astro'
import TestimonialCard from '../components/TestimonialCard.astro'
import Layout from '../layouts/Layout.astro'

const payload = await getPayload()

const config = (await payload.findGlobal({
  slug: 'clients-page',
})) as any

const testimonials =
  ((
    await payload.find({
      collection: 'testimonials',
      limit: 100,
    })
  ).docs as Populated<Testimonial>[]) ?? []

const clientLogos =
  ((
    await payload.find({
      collection: 'client-logos',

      limit: 200,
    })
  ).docs as Populated<ClientLogo>[]) ?? []
---

<Layout title={config.title} meta={config.meta}>
  <section class="w-container mx-auto max-w-7xl py-14 pt-28">
    <div class="flex flex-col justify-center gap-6 px-4 pb-24">
      <PageTitle>{config.title}</PageTitle>
      <h2 class="max-w-xl text-3xl font-medium text-pretty">
        {config.subtitle}
      </h2>
      <div class="flex items-center gap-4">
        <a class="mt-1 flex items-center gap-1.5 text-lg" href="/contact">
          {config.contact_link}
          <PhCaretRight class="size-5" />
        </a>

        <a
          class="mt-1 flex items-center gap-1.5 text-lg"
          href={config.google_reviews_link}
        >
          Google Reviews
          <PhCaretRight class="size-5" />
        </a>
      </div>
    </div>

    <div class="grid gap-6 md:grid-cols-[repeat(auto-fill,minmax(450px,1fr))]">
      {testimonials.map((testimonial) => <TestimonialCard {...testimonial} />)}
    </div>

    <div class="flex items-center gap-6 py-4 pt-36">
      <span class="text-3xl">
        {config.cta_text}
      </span>
      <a
        class="mt-1 ml-auto flex items-center gap-1.5 text-lg whitespace-nowrap"
        href="/contact"
      >
        {config.cta_link}
        <PhCaretRight class="size-5" />
      </a>
    </div>

    <div class="group flex flex-wrap justify-center gap-6 pt-12">
      {
        clientLogos.map((logo) => (
          <Image
            width={200}
            className="h-[clamp(100px,15vw,200px)] rounded "
            media={logo}
            alt=""
          />
        ))
      }
    </div>
  </section>
</Layout>
