---
import { getPayload } from '@/payload'
import { ScrollButton } from './ScrollButton.tsx'
import type { Populated } from '@/utils/typeChecks'
import type { Service } from '@/payload-types'
import Image from './Image'

const payload = await getPayload()

const services = (await payload.find({ collection: 'services', limit: 100 }))
  .docs as Populated<Service>[]
---

<section class="py-8">
  <div class="relative" style={{ timelineScope: '--featured-services' }}>
    <div
      id="featured-services"
      style={{ scrollTimeline: '--featured-services inline' }}
      class="no-scrollbar grid snap-x snap-mandatory grid-cols-[var(--gap)_1fr_var(--gap)] gap-(--gap) overflow-x-scroll overscroll-x-none [--gap:8px] before:content-end after:content-end lg:[--gap:20px]"
    >
      <div
        class="grid grid-cols-[repeat(var(--cards),90%)] content-start gap-(--gap) lg:grid-cols-[repeat(var(--cards),clamp(800px,40vw,1600px))]"
        style={{ '--cards': services.length }}
      >
        {
          services?.map((service) => (
            <article class="flex max-h-150 snap-center flex-col overflow-hidden rounded-2xl border border-neutral-800 bg-black lg:max-h-96 lg:flex-row">
              <Image
                media={service.image}
                width={280}
                loading="lazy"
                alt=""
                className="relative w-full h-full overflow-hidden rounded-2xl mask-[linear-gradient(#000_75%,transparent)] object-cover lg:h-full lg:w-1/2 lg:mask-[linear-gradient(90deg,#000_75%,transparent)]"
              />

              <div class="flex w-full flex-col content-start gap-6 p-10 lg:w-1/2">
                <h3 class="text-2xl font-bold">{service.title}</h3>

                <p class="text-sm text-gray-400">{service.summary}</p>

                <a
                  class="shadow-accent-600 ring-accent-500 hover:bg-accent-400/15 mt-auto ml-auto rounded-md px-4 py-2 text-sm shadow-xs ring-1 duration-200"
                  href={`/services/${service.slug}`}
                  title={`Learn more about ${service.title}`}
                >
                  Learn More
                </a>
              </div>
            </article>
          ))
        }
      </div>
    </div>
    <ScrollButton
      direction="left"
      client:idle
      scrollElementId="featured-services"
      className="absolute top-1/2 left-14 -translate-y-1/2 transform pointer-coarse:hidden"
    />

    <ScrollButton
      direction="right"
      client:idle
      scrollElementId="featured-services"
      className="absolute top-1/2 right-10 -translate-y-1/2 transform pointer-coarse:hidden"
    />
  </div>
</section>
