---
import { getPayload } from '@/payload'
import type { Service, SiteSetting } from '@/payload-types'
import type { Populated } from '@/utils/typeChecks'
import logoFullSVG from '../images/logos/vl-logo-white.svg'
import { Image } from 'astro:assets'
import { cn } from '@/utils/cn'
import { capitalize, take, takeRight } from 'lodash-es'

const today = new Date()

const payload = await getPayload()

const siteSettings = (await payload.findGlobal({
  slug: 'site-settings',
})) as Populated<SiteSetting>

const services = (await payload.find({ collection: 'services', limit: 100 }))
  .docs as Populated<Service>[]

const pathname = Astro.url.pathname

const columnClasses = cn('flex flex-col gap-2')
const columnHeaderClasses = cn('text-white mb-6 font-semibold')
const linkClasses = cn(
  'font-normal text-gray-400 hover:text-white transition data-[active="true"]:text-white data-[active="true"]:pointer-events-none',
)
---

<footer class="bg-background border-t border-t-gray-800" role="contentinfo">
  <div
    class="w-container mx-auto flex h-full max-w-260 flex-col justify-between gap-16 py-18"
  >
    <div
      class="grid grid-cols-3 gap-x-20 gap-y-3 text-sm text-gray-300 lg:grid-cols-5"
    >
      <a href="/" class="hidden sm:block">
        <Image
          class="w-full max-w-8 justify-self-start md:max-w-10"
          src={logoFullSVG}
          alt="Vek Labs Logo"
        />
      </a>

      <div class="row-start-2 row-end-2 hidden sm:block"></div>

      <div class={columnClasses}>
        <span class={columnHeaderClasses}>Explore</span>
        {
          [
            { href: '/features', title: 'Features' },
            {
              href: '/portfolio',
              title: 'Portfolio',
            },
            {
              href: '/services',
              title: 'Services',
            },
            {
              href: '/clients',
              title: 'Clients',
            },
            { href: '/reports', title: 'Reports' },
          ].map(({ href, title }) => (
            <a
              href={href}
              data-active={pathname !== '/' && href.includes(pathname)}
              class={linkClasses}
              title={`View Vek Labs ${title.toLowerCase()}`}
            >
              {title}
            </a>
          ))
        }
      </div>

      <div class={columnClasses}>
        <span class={columnHeaderClasses}>Services</span>
        {
          services?.map(async ({ slug, title }) => {
            return (
              <a
                href={`/services/${slug}`}
                target="_blank"
                rel="noopener noreferrer nofollow"
                class={linkClasses}
                title={`View Vek Labs ${title.toLowerCase()}`}
              >
                <div class="group relative flex items-center gap-4">
                  {capitalize(title)}
                </div>
              </a>
            )
          })
        }
      </div>

      <div class={columnClasses}>
        <span class={columnHeaderClasses}>Connect</span>
        <a
          href="/contact"
          data-active={'/contact' === pathname}
          class={linkClasses}
          title="View Vek Labs contact"
        >
          Contact
        </a>
        {
          siteSettings.social?.map(async ({ url, name }, i) => {
            return (
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer nofollow"
                class={cn(linkClasses, {
                  'sm:hidden': i >= Math.ceil(siteSettings.social.length / 2),
                })}
                title={name}
              >
                <div class="group relative flex items-center gap-4">{name}</div>
              </a>
            )
          })
        }
      </div>

      <div class={cn(columnClasses, 'hidden sm:flex')}>
        <span class={columnHeaderClasses + ' invisible'}>Connect Contd.</span>
        {
          takeRight(
            siteSettings.social,
            Math.floor(siteSettings.social.length / 2),
          )?.map(async ({ url, name }) => {
            return (
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer nofollow"
                class={linkClasses}
                title={name}
              >
                <div class="group relative flex items-center gap-4">{name}</div>
              </a>
            )
          })
        }
      </div>
    </div>

    <div
      class="flex flex-col gap-3 text-xs font-normal text-gray-500 sm:flex-row"
    >
      <span>
        &copy; {today.getFullYear()} Vek Labs Inc.
      </span>
      <span>{siteSettings.FOOTER_PRETEXT}</span>
      <span> PO Box 46068 Inglewood, Calgary, AB T2G5H7</span>
    </div>
  </div>
</footer>
