---
import type { Report } from '@/payload-types'
import { cn } from '@/utils/cn'
import type { Populated } from '@/utils/typeChecks'
import FormattedDate from './FormattedDate.astro'
import Image from './Image'
import { capitalize } from 'lodash-es'

type Props = Populated<Report> & {
  featured?: boolean
  className?: string
  'data-astro-history'?: string
}

const { className, slug, body, ...data } = Astro.props
---

<a
  href={`/reports/${slug}`}
  data-astro-history={Astro.props['data-astro-history']}
  class:list={[
    'listing group col-span-full w-full rounded-xl transition-all',
    className,
  ]}
>
  <article class:list={['flex w-full flex-col']}>
    <div class="image relative" transition:name={`image-${slug}`}>
      {
        data.image && (
          <Image
            media={data.image}
            alt=""
            className={cn([
              'z-10 aspect-2/3 w-full rounded-lg border border-gray-800 object-cover shadow-lg transition-all duration-200 group-hover:scale-[1.0125] group-hover:shadow-2xl md:h-60',
            ])}
          />
        )
      }
    </div>
    <div
      class="text-foreground flex flex-col gap-2 rounded-l-lg rounded-b-lg pt-4 transition-all group-hover:bg-black/20 lg:mb-2 lg:pt-6"
    >
      <div class="flex gap-2 text-xs text-gray-400">
        <span>{capitalize(data.author.name)}</span>
        <span>•</span>
        <FormattedDate date={new Date(data.createdAt)} />
      </div>
      <h1
        class="title m-0 text-xl font-semibold"
        transition:name={`title-${slug}`}
      >
        {data.title}
      </h1>
    </div>
  </article>
</a>
